<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div class="button">
      <button mat-icon-button color="basic" *ngIf="isCommentAuthor()" (click)=" toggleCommentEditingWindow()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-icon-button color="basic" *ngIf="isCommentAuthor()" (click)=" deleteComment()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="showCommentEditingContainer">
      <div class="comment-edit-container">
        <mat-form-field>
          <input [(ngModel)]="comment.body" matInput placeholder="">
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="editComment(comment.body)">
          <mat-icon aria-label="Edit">send</mat-icon>
        </button>
      </div>
    </div>
    <p *ngIf="!showCommentEditingContainer">{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="reactToComment(true)" [matTooltip]="getReactedUsers(true)">
      <mat-icon matBadge="{{getReactions(true)}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getReactions(true) === 0" aria-label="Like">favorite</mat-icon>

    </button>
    <button mat-icon-button color="primary" (click)="reactToComment(false)" [matTooltip]="getReactedUsers(false)">
      <mat-icon matBadge="{{getReactions(false)}}" matBadgeColor="warn" matBadgeSize="small"
        [matBadgeHidden]="getReactions(false) === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>