<mat-card *ngIf="post" [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div class="button">
      <button mat-icon-button color="basic" *ngIf="isAuthor()" (click)=" togglePostEditingWindow()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-icon-button color="basic" *ngIf="isAuthor()" (click)=" deletePost()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <div *ngIf="showEditingContainer">
      <div class="post-edit-container">
        <mat-form-field>
          <input [(ngModel)]="post.body" matInput placeholder="">
        </mat-form-field>
        <input hidden #file accept="image/*" type="file" (change)="changeImage($event.target)">
        <button mat-icon-button color="accent" (click)="file.click()">
          <mat-icon aria-label="Choose an image">image</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Remove image" (click)="removeImage()">
          <mat-icon aria-label="Remove image">clear</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="editPost(post.body)">
          <mat-icon aria-label="Edit">send</mat-icon>
        </button>
      </div>
    </div>
    <p *ngIf="!showEditingContainer">{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="reactToPost(true)" [matTooltip]="getReactedUsers(true)">
      <mat-icon matBadge="{{getReactions(true)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getReactions(true) === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="reactToPost(false)" [matTooltip]="getReactedUsers(false)">
      <mat-icon matBadge="{{getReactions(false)}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="getReactions(false) === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="primary" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser">
    </app-comment>
  </div>
</mat-card>